<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1> Enter New Ski Information</h1>
    <form action="/skis" method="POST">
    
        <label for="brand"> Brand: </label>
        <input type="text" name="brand">
        <br>
        <br>
        <label for="color"> Color: </label>
        <input type="text" name="color">
        <br>
        <br>
        <label for="boots_size"> Size: </label>
        <input type="text" name="boots_size">
        <br>
        <br>
        <input type="submit" value="Submit">
        <button><a href="/skis">Return Skis List</a></button>
    </form>

</body>
</html>