<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% @rentals.each do |rental| %>
        <h1>Person: <%= rental.person.name %></h1>
        <h2>Ski Brand: <%= rental.ski.brand %></h2>
        <h3>Ski Color: <%= rental.ski.color %></h3>
        <h4>Boots Size: <%= rental.ski.boots_size %></h4>
     <% end %>

     <button><a href="/">Return Home</a></button>
</body>
</html>