<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All the People:</h1>

    <% @people.each do |person| %>
        <h2> <a href="/people/<%= person.id %>"> <%= person.name %> </a> </h2>
    <% end %>

   
</body>
</html>