<h1>Name: <%= @person.name%></h1>
<h2>Phone Number: <%= @person.phone_number %></h2>
<h3>Room Number: <%= @person.room_number %></h3>

<button style="background-color: aqua;"><a href="/">Return To Home Page</a></button>